.shopping-cart-table {
  margin-top: 45px;
}

.shopping-cart-table .total {
  text-align: right;
  font-size: 1.3rem;
  margin-right: 10px;
}

.shopping-cart-table button {

}

.shopping-cart-table .item-count {
  margin: 0 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
